doctype html
html
    head
        title= title
        //- css
        link(rel='stylesheet', href='/stylesheets/normalize.css')
        link(rel='stylesheet', href='/stylesheets/skeleton.css')
        link(rel='stylesheet', href='/stylesheets/spinners.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        //- js
        script(src='/javascripts/jquery-2.2.1.min.js')
    body
        block content
